# Application Port
PORT=8080

# MySQL Database Configuration
DB_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=metamorph_db
MYSQL_USER=metamorph_user
MYSQL_PASSWORD=metamorph_password
MYSQL_ROOT_PASSWORD=rootpassword
